body{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background: #262525;
  color: aliceblue
}
/* code{
  font-family: source-code-pro,Menlo,Monace,Consolas, 'Courier New',monospace;
}
 */




@import "tailwindcss";